/* ESTRUCTURA PRINCIPAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

body {
  background-color: #eeee;
}

.contenedor {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin-top: 50px;
  height: 40px;
  width: auto;
  padding: 5px;
}

h2 {
  text-align: center;
}

h3 {
  background-color: #fff;
  margin-bottom: 20px;
}

span, picture {
  background-color: #fff;
}

picture img {
  background-color: #fff;
  width: 100px;
  height: 100px;
}

/* ESTILOS PARA CLASES Y IDS */

.contenedor .juego {
  display: flex;
  margin: 80px 20px 0 20px;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.palabra {
  color: #222;
  background-color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

#intentos {
  margin-top: 20px;
}

/* Seccion de los botones del alfabeto */

#alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px auto;
  padding: 10px;
  max-width: 900px;
}

#alphabet button {
  list-style: none;
  padding: 10px;
  background: white;
  color: #222;
  cursor: pointer;
  border: solid 1px #eeee;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#alphabet button:hover {
  background: #eeee;
  color: #222;
  border: solid 1px #222;
}

#alphabet button:disabled, button:disabled:hover {
  background: #eeee;
  color: #858585;
  cursor:not-allowed;
  border: solid 1px #eee;
}

/* Reset Boton */

#reset {
  padding: 1em;
  background: white;
  color: #222;
  cursor: pointer;
  border: solid 1px #eeee;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#reset:hover {
  background: #eeee;
  color: #222;
  border: solid 1px #222;
}
