/* ESTRUCTURA PRINCIPAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

body {
  background-color: #eeee;
}

.contenedor {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin-top: 50px;
  height: 40px;
  width: auto;
  padding: 5px;
}

h2 {
  text-align: center;
}

h3 {
  background-color: #fff;
  margin-bottom: 20px;
}

span, picture {
  background-color: #fff;
}

picture img {
  background-color: #fff;
  width: 100px;
  height: 100px;
}

/* ESTILOS PARA CLASES Y IDS */

.contenedor .juego {
  display: flex;
  margin: 80px 20px 0 20px;
  padding: 1.5em;
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #eeee;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  max-height: 100%;
}

#palabra {
  color: #222;
  background-color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

#intentos {
  margin-top: 20px;
}

/* Seccion de los botones del alfabeto */

#alphabet {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px auto;
  padding: 10px;
  max-width: 900px;
}

#alphabet button {
  list-style: none;
  padding: 10px;
  background: white;
  color: #222;
  cursor: pointer;
  border: solid 1px #eeee;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#alphabet button:hover {
  background: #eeee;
  color: #222;
  border: solid 1px #222;
}

#alphabet button:disabled, button:disabled:hover {
  background: #eeee;
  color: #858585;
  cursor:not-allowed;
  border: solid 1px #eee;
}

/* Reset Boton */

#reset {
  margin-top: 20px;
  padding: 1em;
  background: #eeee;
  color: #222;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

#reset:hover {
  background: #eeee;
  color: #222;
  border: solid 1px #222;
}

/* Estilos para la tabla */

table {
	border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table tbody tr {
	background-color: #54585d;
	color: #222;
	font-weight: bold;
	font-size: 1.5rem;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

/* Media queries */

@media screen and (max-width: 768px){
  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .leftSection {
    border-right: none;
    border-bottom: 1px solid #eeee;
    padding-bottom: 20px;
  }

  #scoreboard {
    margin: 20px 0 0 0;
  }
}